# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
/build/

# Editor/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs and Backups
*.log
*.bak
*.backup
*.swp

# Package managers
package-lock.json
yarn.lock
npm-shrinkwrap.json
